<div class="card p-4">
    <p-toast></p-toast>
    <h5>Book List</h5>
    <p-dataView #dv [value]="books" [paginator]="true"   [totalRecords]="totalRecords" [rows]="10" filterBy="title" [sortField]="sortField"
        [layout]="layout"   [lazy]="true"   [sortOrder]="sortOrder"
        (onLazyLoad)="loadBooks($event)">

        <ng-template pTemplate="header">

            <div class="flex flex-column md:flex-row md:justify-content-between gap-3 mb-3">
                <div class="flex flex-column md:flex-row gap-2">
                    <button pButton pRipple label="Add New Book" icon="pi pi-plus" class="p-button"
                        (click)="addBook()"></button>
                    <p-dropdown [options]="sortOptions" placeholder="Sort By Publication Year"
                        (onChange)="onSortChange($event)"></p-dropdown>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="search" pInputText placeholder="Search by Title" (input)="onFilter($event)">
                    </span>
                </div>
                <!-- <p-dataViewLayoutOptions [(layout)]="layout"></p-dataViewLayoutOptions> -->
            </div>
        </ng-template>

        <!-- List View -->
        <ng-template let-books pTemplate="listItem">
            <div class="iAware-loading-table-container" style="position: relative">
                <app-table-loading-spinner *ngIf="tableLoadingSpinner"></app-table-loading-spinner>
                <div class="p-col-12" *ngFor="let book of books">
                    <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                        <img (click)="editBook(book)" style="width: 200px; height: 100px;cursor: pointer;"
                            [src]="book.imageUrl ?? 'assets/media/dummy-photo-list.jpg'" [alt]="book.title"
                            class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-5" />
                        <div class="flex-1 flex flex-column align-items-start text-center md:text-left">
                            <div class="font-bold text-2xl">{{ book.title }}</div>
                            <div class="mb-2">
                                <span class="font-semibold">Author:</span> {{ book.authorFullName }}
                            </div>
                            <div class="mb-2">
                                <span class="font-semibold">Description:</span> {{ book.description }}
                            </div>
                            <div class="mb-2">
                                <span class="font-semibold">Publication Year:</span> {{ book.publicationYear }}
                            </div>
                            <div class="mb-2">
                                <span class="font-semibold">Available Copies:</span> {{ book.availableCopies }}
                            </div>
                        </div>
                        <div
                            class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end mt-5 md:mt-0">
                            <span
                                [class]="'product-badge status-' + (book.availableCopies > 0 ? 'instock' : 'outofstock')">
                                {{ book.availableCopies > 0 ? 'AVAILABLE' : 'OUT OF STOCK' }}
                            </span>
                            <button pButton pRipple type="button" icon="pi pi-ellipsis-v"
                                class="p-button-rounded p-button-text p-button-plain mt-2"
                                (click)="iAwareMenu.toggle($event); assignCurrentSelect(book)"></button>
                            <p-menu #iAwareMenu [model]="menuItems" [appendTo]="'body'" [popup]="true"></p-menu>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </ng-template>

        <!-- Grid View -->
        <!-- <ng-template let-books pTemplate="gridItem">
            <div class="position-relative">
                <app-table-loading-spinner *ngIf="tableLoadingSpinner"></app-table-loading-spinner>
                <div class="p-grid p-nogutter">
                    <div class="p-col-12 p-md-3 p-mb-4" *ngFor="let book of books">
                        <div class="p-3 h-100">
                            <div
                                class="surface-card shadow-2 border-round overflow-hidden transition-all hover:shadow-4 relative h-100">
                                <div class="flex flex-wrap gap-2 align-items-center justify-content-between p-3">
                                    <div class="flex align-items-center">
                                        <i class="pi pi-tag mr-2"></i>
                                        <span class="font-semibold">Book</span>
                                    </div>
                                    <span
                                        [class]="'product-badge status-' + (book.availableCopies > 0 ? 'instock' : 'outofstock')">
                                        {{ book.availableCopies > 0 ? 'AVAILABLE' : 'OUT OF STOCK' }}
                                    </span>
                                </div>
                                <div class="flex flex-column align-items-center text-center p-3">
                                    <img (click)="editBook(book)"
                                        [src]="book.imageUrl ?? 'assets/images/default-book.png'" [alt]="book.title"
                                        class="w-9 shadow-2 my-3 mx-0 book-image" />
                                    <div class="text-2xl font-bold">{{ book.title }}</div>
                                    <div class="mb-3">
                                        <span class="font-semibold">Author:</span> {{ book.author }}
                                    </div>
                                    <div class="mb-3">
                                        <span class="font-semibold">Publication Year:</span> {{ book.publicationYear }}
                                    </div>
                                    <div class="mb-3">
                                        <span class="font-semibold">Available Copies:</span> {{ book.availableCopies }}
                                    </div>
                                </div>
                                <div class="flex align-items-center justify-content-end p-3">
                                    <button pButton pRipple type="button" icon="pi pi-ellipsis-v"
                                        class="p-button-rounded p-button-text p-button-plain"
                                        (click)="iAwareMenu.toggle($event); assignCurrentSelect(book)">
                                    </button>
                                    <p-menu #iAwareMenu [model]="menuItems" [appendTo]="'body'" [popup]="true"></p-menu>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template> -->
    </p-dataView>
</div>
<!-- Add Book Dialog -->
<p-dialog [(visible)]="bookDialog" [style]="{ width: '100%', height: '100%' }" header="Add New Book" [modal]="true"
    class="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="bookForm" (ngSubmit)="saveBook()">
            <div class="col-12">
                <div class="align-items-center grid formgrid p-fluid">
                    <div class="md:col-6">

                        <div class="field col-12 md:col-12">
                            <label for="categoryId" class="font-medium text-900">Category</label>
                            <p-dropdown [options]="categories" formControlName="categoryId" optionLabel="name"
                                optionValue="id" placeholder="Select Category"></p-dropdown>
                            <small *ngIf="submitted && !bookForm.controls['categoryId'].valid"
                                class="ng-dirty ng-invalid text-red-500">Category is required</small>
                        </div>
                        <div class="field col-12 md:col-12">
                            <label for="author" class="font-medium text-900">Author</label>
                            <!-- <input type="text" pInputText id="author" formControlName="author" placeholder="Author"
                                required
                                [ngClass]="{'ng-invalid ng-dirty': submitted && !bookForm.controls['author'].valid}" /> -->
                                <p-dropdown  [options]="authors"ormControlName="authorId"optionLabel="fullName"[filter]="true"filterBy="fullName" [showClear]="true" optionValue="id" placeholder="Select an author"></p-dropdown>
                            <small *ngIf="submitted && !bookForm.controls['authorId'].valid"
                                class="ng-dirty ng-invalid text-red-500">Author is required</small>
                        </div>

                        <div class="field col-12 md:col-12">
                            <label for="title" class="font-medium text-900">Title</label>
                            <input type="text" pInputText id="title" formControlName="title" placeholder="Title"
                                required
                                [ngClass]="{'ng-invalid ng-dirty': submitted && !bookForm.controls['title'].valid}" />
                            <small *ngIf="submitted && !bookForm.controls['title'].valid"
                                class="ng-dirty ng-invalid text-red-500">Title is required</small>
                        </div>

                        <div class="field col-12 md:col-12">
                            <label for="description" class="font-medium text-900">Description</label>
                            <textarea pInputTextarea id="description" formControlName="description"
                                placeholder="Write Description for book " required rows="5" [ngClass]="{
                                    'ng-invalid ng-dirty': submitted && !bookForm.controls['description'].valid
                                }"></textarea>
                            <small *ngIf="submitted && !bookForm.controls['description'].valid"
                                class="ng-dirty ng-invalid text-red-500">Description is required</small>
                        </div>


                       

                        <div class="field col-12 md:col-12">
                            <label for="publicationYear" class="font-medium text-900">Publication Year</label>
                            <input type="number" pInputText id="publicationYear" formControlName="publicationYear"
                                placeholder="Publication Year" required
                                [ngClass]="{'ng-invalid ng-dirty': submitted && !bookForm.controls['publicationYear'].valid}" />
                            <small *ngIf="submitted && !bookForm.controls['publicationYear'].valid"
                                class="ng-dirty ng-invalid text-red-500">Publication Year is required</small>
                        </div>

                        <div class="field col-12 md:col-12">
                            <label for="availableCopies" class="font-medium text-900">Available Copies</label>
                            <input type="number" pInputText id="availableCopies" formControlName="availableCopies"
                                placeholder="Available Copies" required
                                [ngClass]="{'ng-invalid ng-dirty': submitted && !bookForm.controls['availableCopies'].valid}" />
                            <small *ngIf="submitted && !bookForm.controls['availableCopies'].valid"
                                class="ng-dirty ng-invalid text-red-500">Available Copies is required</small>
                        </div>

                        <div class="field col-12 md:col-12">
                            <label for="totalCopies" class="font-medium text-900">Total Copies</label>
                            <input type="number" pInputText id="totalCopies" formControlName="totalCopies"
                                placeholder="Total Copies" required
                                [ngClass]="{'ng-invalid ng-dirty': submitted && !bookForm.controls['totalCopies'].valid}" />
                            <small *ngIf="submitted && !bookForm.controls['totalCopies'].valid"
                                class="ng-dirty ng-invalid text-red-500">Total Copies is required</small>
                        </div>


                    </div>

                    <div class="col-12 md:col-6 mt-2">
                        <p-panel header="Book Image" class="mb-3">
                            <div class="flex flex-column align-items-center justify-content-center">
                                <div class="image-upload-container" (click)="triggerImageUpload()">
                                    <img [src]="imageUrl" alt="Book Image" class="avatar"
                                        style="width: 300px; height: 225px; max-width: 300px; border-radius: 8px; object-fit: fill; border: 1px solid #ccc; cursor: pointer;" />
                                    <div class="text-center upload-hover-text">Upload Image</div>
                                </div>
                                <small class="text-center block m-2">Recommended Dimensions:
                                    <strong>800px X 500px</strong></small>
                            </div>
                            <input type="file" id="myBookImage" style="display: none"
                                (change)="handleImageSelection($event)" />
                        </p-panel>

                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="declineAddBookDialog()"></button>
        <button pButton pRipple [label]="isEditing ? 'Update' : 'Save'" icon="pi pi-check" class="p-button-text"
            (click)="saveBook()">
        </button>
    </ng-template>
</p-dialog>



<!-- Deletion Dialog -->
<p-dialog [(visible)]="deletionBookDialog" header="Delete Book" [modal]="true"
    [style]="{ width: 'auto', maxWidth: '90%' }">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="book">Are you sure you want to delete <b>{{ book.title }}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="declineDeletion()"></button>
        <button pButton pRipple label="Delete" icon="pi pi-check" class="p-button-text"
            (click)="confirmDeletion()"></button>
    </ng-template>
</p-dialog>

<!-- Activation Dialog -->
<p-dialog [(visible)]="switchActivationBookDialog" header="Activation Status" [modal]="true"
    [style]="{ width: '500px' }">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="book">Are you sure you want to {{ book.isActive ? 'deactivate' : 'activate' }} <b>{{ book.title
                }}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="declineActivation()"></button>
        <button pButton pRipple label="Confirm" icon="pi pi-check" class="p-button-text"
            (click)="confirmActivation()"></button>
    </ng-template>
</p-dialog>