<div class="card">
    <p-toast></p-toast>
    <h5>Transaction List</h5>
    <p-dataView #dv [value]="transactions" [paginator]="true" [rows]="10" layout="grid">
        <ng-template pTemplate="header">
            <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
                <button pButton pRipple label="Add New Transaction" icon="pi pi-plus" class="p-button mr-2"
                    (click)="addTransaction()"></button>
            </div>
        </ng-template>
        <ng-template let-transactions pTemplate="gridItem">
            <div class="iAware-loading-table-container" style="position: relative">
                <app-table-loading-spinner *ngIf="tableLoadingSpinner"></app-table-loading-spinner>
                <div class="grid grid-nogutter">
                    <div class="col-12 md:col-4" *ngFor="let transaction of transactions">
						<div class="card m-3 border-1 surface-border">
							<div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
								<div class="flex align-items-center">
									<i class="pi pi-tag mr-2"></i>
									<span class="font-semibold">{{transaction.userFullName}}</span>
								</div>
								<span [class]="'customer-badge status-' + getTransactionStatusBadge(transaction.status)">{{transaction.status}}</span>
							</div>
							<div class="flex flex-column align-items-center text-center mb-3">
								<div class="text-2xl font-bold">{{transaction.bookName}}</div>
								<div class="mb-3">Request Date: {{transaction.requestDate | date:'mediumDate'}}</div>
                                <div class="mb-3">Issue Date: {{ transaction.issueDate ? (transaction.issueDate | date:'mediumDate') : '-' }}</div>
                                <div class="mb-3">Due Date: {{ transaction.dueDate ? (transaction.dueDate | date:'mediumDate') : '-' }}</div>
                                <div class="mb-3">Return Date: {{ transaction.returnDate ? (transaction.returnDate | date:'mediumDate') : '-' }}</div>
							</div>
							<div class="flex align-items-center justify-content-between">
                                <p-button icon="pi pi-info-circle" title="Details" (click)="getDetails(transaction.id)"> </p-button>
								<p-button *ngIf="transaction.status == 'Pending'" icon="pi pi-plus" title="Issue Book" (click)="issueBook(transaction.id)"> </p-button>
								<p-button *ngIf="transaction.status == 'Issued'" icon="pi pi-undo" title="Return Book" (click)="returnBook(transaction.id)"> </p-button>
							
                            </div>
						</div>
					</div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>

<!-- Add Transaction Dialog -->
<p-dialog [(visible)]="addTransactionDialog" [style]="{ width: '100%', height: '100%' }" header="Add New Transaction"
    [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="addTransactionForm" (ngSubmit)="saveAddTransaction()">
            <div class="col-12">
                <div class="grid formgrid p-fluid">
                    <div class="md:col-6">
                        <div class="field col-12 md:col-12">
                            <label for="userId" class="font-medium text-900">User ID</label>
                            <input type="text" pInputText id="userId" formControlName="userId" placeholder="User ID"
                                required
                                [ngClass]="{'ng-invalid ng-dirty': submitted && !addTransactionForm.controls['userId'].valid}" />
                            <small *ngIf="submitted && !addTransactionForm.controls['userId'].valid"
                                class="ng-dirty ng-invalid text-red-500">User ID is required</small>
                        </div>

                        <div class="field col-12 md:col-12">
                            <label for="bookId" class="font-medium text-900">Book ID</label>
                            <input type="text" pInputText id="bookId" formControlName="bookId" placeholder="Book ID"
                                required
                                [ngClass]="{'ng-invalid ng-dirty': submitted && !addTransactionForm.controls['bookId'].valid}" />
                            <small *ngIf="submitted && !addTransactionForm.controls['bookId'].valid"
                                class="ng-dirty ng-invalid text-red-500">Book ID is required</small>
                        </div>

                        <div class="field col-12 md:col-12">
                            <label for="issueDate" class="font-medium text-900">Issue Date</label>
                            <input type="date" pInputText id="issueDate" formControlName="issueDate"
                                placeholder="Issue Date" required
                                [ngClass]="{'ng-invalid ng-dirty': submitted && !addTransactionForm.controls['issueDate'].valid}" />
                            <small *ngIf="submitted && !addTransactionForm.controls['issueDate'].valid"
                                class="ng-dirty ng-invalid text-red-500">Issue Date is required</small>
                        </div>

                        <div class="field col-12 md:col-12">
                            <label for="dueDate" class="font-medium text-900">Due Date</label>
                            <input type="date" pInputText id="dueDate" formControlName="dueDate" placeholder="Due Date"
                                required
                                [ngClass]="{'ng-invalid ng-dirty': submitted && !addTransactionForm.controls['dueDate'].valid}" />
                            <small *ngIf="submitted && !addTransactionForm.controls['dueDate'].valid"
                                class="ng-dirty ng-invalid text-red-500">Due Date is required</small>
                        </div>

                        <div class="field col-12 md:col-12">
                            <label for="status" class="font-medium text-900">Status</label>
                            <p-dropdown [options]="['Issued', 'Returned', 'Overdue']" formControlName="status"
                                placeholder="Select Status"></p-dropdown>
                            <small *ngIf="submitted && !addTransactionForm.controls['status'].valid"
                                class="ng-dirty ng-invalid text-red-500">Status is required</small>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="declineAddTransactionDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="saveAddTransaction()"></button>
    </ng-template>
</p-dialog>



<!-- Update Transaction Dialog -->
<p-dialog [(visible)]="transactionDetailsDialog" [style]="{ width: '50%', maxHeight: '90vh' }" header="Transaction Details"
    [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="grid">
            <div class="col-6">
                <div class="detail-item">
                    <i class="pi pi-user"></i>
                    <span class="label">User:</span> {{selectedTransaction.userFullName}}
                </div>
                <div class="detail-item">
                    <i class="pi pi-calendar"></i>
                    <span class="label">Request Date:</span> {{selectedTransaction.requestDate | date:'mediumDate'}}
                </div>
                <div class="detail-item" *ngIf="selectedTransaction.issueDate">
                    <i class="pi pi-check-circle"></i>
                    <span class="label">Issue Date:</span> {{selectedTransaction.issueDate | date:'mediumDate'}}
                </div>

                <div class="detail-item" *ngIf="selectedTransaction.issuedByUser">
                    <i class="pi pi-user-plus"></i>
                    <span class="label">Issued By:</span> {{selectedTransaction.issuedByUser}}
                </div>

                <div class="detail-item" *ngIf="selectedTransaction.dueDate">
                    <i class="pi pi-calendar-plus"></i>
                    <span class="label">Due Date:</span> {{selectedTransaction.dueDate | date:'mediumDate'}}
                </div>

                

                <div class="detail-item">
                    <i class="pi pi-tag"></i>
                    <span class="label">Status:</span> {{selectedTransaction.status}}
                </div>
            </div>
            <div class="col-6">
                <div class="detail-item">
                    <i class="pi pi-book"></i>
                    <span class="label">Book:</span> {{selectedTransaction.bookName}}
                </div>
                <div class="detail-item">
                    <i class="pi pi-send"></i>
                    <span class="label">Borrow Days:</span> {{selectedTransaction.borrowDays}}
                </div>
                <div class="detail-item" *ngIf="selectedTransaction.dueDate">
                    <i class="pi pi-reply"></i>
                    <span class="label">Return Date:</span> {{selectedTransaction.returnDate | date:'mediumDate'}}
                </div>

                <div class="detail-item" *ngIf="selectedTransaction.returnedByUser">
                    <i class="pi pi-user-minus"></i>
                    <span class="label">Returned By:</span> {{selectedTransaction.returnedByUser}}
                </div>

                <div class="detail-item" *ngIf="selectedTransaction.returnNotes">
                    <i class="pi pi-comments"></i>
                    <span class="label">Return Notes:</span> {{selectedTransaction.returnNotes}}
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="hideDetailsBookDialog()"></button>
    </ng-template>
</p-dialog>



<!-- Issue Book Dialog -->
<p-dialog [(visible)]="issueBookDialog" [style]="{ width: '50%', maxHeight: '90vh' }" header="Issue Transaction"
    [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="issueBookForm" (ngSubmit)="confirmIssueBook()">
            <div class="col-12">
                <div class="grid formgrid p-fluid">
                    <div class="md:col-6">
                        <div class="field col-12 md:col-12">
                            <label for="issueDate" class="font-medium text-900">Issue Date</label>
                            <input type="datetime-local" pInputText id="issueDate" formControlName="issueDate" />
                            <small *ngIf="submitted && !issueBookForm.controls['issueDate'].valid"
                            class="ng-dirty ng-invalid text-red-500">Issue Date is required</small>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="hideIssueBookDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="confirmIssueBook()"></button>
    </ng-template>
</p-dialog>

<!-- Return Book Dialog -->
<p-dialog [(visible)]="returnBookDialog" [style]="{ width: '50%', maxHeight: '90vh' }" header="Return Transaction"
    [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="returnBookForm" (ngSubmit)="confirmReturnBook()">
            <div class="col-12">
                <div class="grid formgrid p-fluid">
                    <div class="md:col-12">
                        <div class="field col-12 md:col-12">
                            <label for="returnDate" class="font-medium text-900">Return Date</label>
                            <input type="datetime-local" pInputText id="returnDate" formControlName="returnDate" />
                            <small *ngIf="submitted && !returnBookForm.controls['returnDate'].valid"
                            class="ng-dirty ng-invalid text-red-500">Return Date is required</small>
                        </div>
                    </div>
                    <div class="md:col-12">
                        <div class="field col-12 md:col-12">
                            <label for="notes" class="font-medium text-900">Notes</label>
                            <textarea id="notes" pInputTextarea formControlName="notes"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="hideReturnBookDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="confirmReturnBook()"></button>
    </ng-template>
</p-dialog>