<div class="layout-wrapper" [ngClass]="containerClass">
    <app-topbar></app-topbar>
    <div *ngIf="this.user.role=='Admin'" class="layout-sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="layout-main-container" [ngStyle]="this.user.role!='Admin' ? {'margin-left': '0'} : {}">
        <div class="layout-main">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
    <app-config></app-config>
    <div class="layout-mask"></div>
    <p-toast key="tst"></p-toast>
</div>
