<div class="books-container">
   <!-- Header Section -->
   <div class="header-section">
      <h1>Our Library Collection</h1>
      <br>
      <div class="search-bar">
         <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="onSearch($event)" [(ngModel)]="bookParams.Search" placeholder="Search books..." />
         </span>
      </div>
      <div class="search-dropdown">
         <p-dropdown [options]="categories" [(ngModel)]="bookParams.categoryId" optionLabel="name" 
         [filter]="true" filterBy="name" [showClear]="true"  optionValue="id" placeholder="Select Category" (onChange)="onSearch($event)"></p-dropdown>
     </div>
     <div class="search-dropdown">
         <p-dropdown [options]="authors" [(ngModel)]="bookParams.authorId" optionLabel="fullName"
             [filter]="true" filterBy="fullName" [showClear]="true" optionValue="id"
             placeholder="Select an author" (onChange)="onSearch($event)"></p-dropdown>
     </div>
      <span class="status" (click)="deactivateOrActivateTrendingBooks()" [ngClass]="ActivateTrendingBooks == true ?  'Active': 'InActive'">Trending Books</span>   
   </div>
   <!-- Loading State -->
   <app-loading-state *ngIf="loading" message="Loading books..."></app-loading-state>

   <!-- Books Grid -->
   <div class="books-grid" *ngIf="!loading">
      <a [routerLink]="['/Books', book.id]" class="book-card" *ngFor="let book of books">
         <div class="book-cover">
            <img [src]="book.coverImageUrl || book.imageUrl ||'assets/dummy_book_cover.webp'" [alt]="book.title">
            <div class="book-status"
               [ngClass]="{'available': book.availableCopies > 0, 'unavailable': book.availableCopies === 0}">
               {{ book.availableCopies > 0 ? 'Available' : 'Borrowed' }}
            </div>
         </div>
         <div class="book-info">
            <h3 class="book-title">{{ book.title }}</h3>
            <p class="book-author">by {{ book.authorFullName }}</p>
            <div class="book-meta">
               <span class="book-category">
                  <i class="pi pi-tag"></i> {{ book.categoryName }}
               </span>
               <span class="book-copies">
                  <i class="pi pi-book"></i> {{ book.availableCopies }}/{{ book.totalCopies }}
               </span>
            </div>
         </div>
      </a>
   </div>

   <!-- No Books Message -->
   <div class="no-books" *ngIf="!loading && books.length === 0">
      <i class="pi pi-book"></i>
      <h2>No Books Found</h2>
      <p>Try adjusting your search or check back later</p>
   </div>

   <!-- Pagination -->
   <div class="flex justify-content-center">
      <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" [first]="currentPage"
         (onPageChange)="onPageChange($event)" [rowsPerPageOptions]="[12, 24, 36]" class="pagination">
      </p-paginator>
   </div>
</div>