/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";



.user-info{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
}
.User-info{
  display: flex;
}
.user-info:hover{
  cursor: pointer;
}
.square-image {
    width: 100%;  
    height: 250px;  
    object-fit: fill;  
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  .dropdown :hover,
  .dropdown :focus {
  background-color: white !important;
}
  .dropdown:hover .dropdown-menu {
    display: block;
  }


   
  .image-upload-container {
    position: relative;
    display: inline-block;
  }
  
  .upload-hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);  
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    opacity: 0;  
    transition: opacity 0.3s ease-in-out;
    font-weight: bold;
    cursor: pointer;
  }
  
  .image-upload-container:hover .upload-hover-text {
    opacity: 1;  
  }
  .sub-menu-wrap{
    display: none;
     z-index: 1000;  
    position: absolute;
    top:100%;
    right: 0px;
    width: 250px;
  }
  .sub-menu{
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    padding: 20px;
    margin-top: -5px;
    margin-right: 10px;
  }
  .User-info{
    display: flex;
    align-items: center;
  }
  .User-info h3{
    font-weight: 500px;
  }
  .User-info img{
    width: 80px;
    border-radius: 50%;
    margin-right: 15px;
  }
  .sub-menu-link{
    display: flex;
    align-items: center;
    color: #525252;
    margin: 12px 0;
    cursor: pointer;
  }
  .sub-menu-link p{
    width: 100%;
  }
  .sub-menu-link .img{
    width: 40px;
    background: #e5e5e5;
    padding: 8px;
    margin-right: 15px;
  }
  .sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
  }
  .sub-menu-link:hover span{
    transform: translateX(5px);
  }
  .sub-menu-link:hover span,p{
    font-weight: 600;
  }
  .user-info:hover .sub-menu-wrap{
    display: block;
  }
   .sub-menu-wrap:hover{
    display: block;
  }
  .user-info:hover{
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  }
  
  
 
 