<div class="layout-topbar row">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg"
            alt="logo">
        <span>LMS</span>
    </a>

    <!--側邊導覽列控制btn-->
    <button #menubutton class="p-link layout-menu-button layout-topbar-button col-2" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <!--rwd側邊導覽列控制btn-->
    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button col-2"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <!--topbar menu-->
    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <div class="user-dropdown" (click)="menu.toggle($event)">
            <div class="user-info">
                <span>{{ user.firstName }} {{user.lastName}}</span>
              <img style="border-radius: 50%;margin-left: 10px;" width="35px" height="35px" [src]="user.userImageUrl ?? '/assets/demo/images/avatar/UnknownUser.jpg'"  class="user-img" />
            </div>
          </div>
          <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
            <!-- <span>Profile</span> -->
            <!-- <select>
                    <div class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">{{user.firstName}} {{user.lastName}}
                        <img *ngIf="user.userImageUrl!=null" style="border-radius: 50%;width: 50px;height: 50px;" [src]="user.userImageUrl ?? 'src/assets/demo/images/avatar/UnknownUser.jpg' " alt="">
                    </div>
                    <option><a class="dropdown-item p-2" href="#"><i class="pi pi-user m-2"></i> My Account</a></option>
                        <option value=""><a class="dropdown-item p-2" href="#"><i class="pi pi-book m-2"></i>My Borrowed Books </a></option>
                        <option value=""  (click)="Logout()"><a class="dropdown-item p-2" href="#"><i class="pi pi-sign-out m-2"></i>Logout</a></option>
            </select>
               -->
              </div>
        <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button>
    </div>
    <p-dialog [(visible)]="changePasswordDialog" [style]="{ width: '40%', height: '65%' }" header="Change Password" [modal]="true" (onHide)="cancelDialog()"
    class="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="changePasswordObj">
                <div class="align-items-center grid formgrid p-fluid">
                    <div class="col-12">
                        <div class="field col">
                            <label for="title" class="font-medium text-900">Current Password</label>
                            <input type="text" pInputText id="currentPassword" formControlName="currentPassword" placeholder="Current Password"
                                required [ngClass]="{'ng-invalid ng-dirty': (submitted && currentPassword.invalid)}" />
                            <small *ngIf="submitted && currentPassword.hasError('required')"class="ng-dirty ng-invalid text-red-500">Current Password is required</small> 
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="field col">
                            <label for="title" class="font-medium text-900">New Password</label>
                            <input type="text" pInputText id="newPassword" formControlName="newPassword" placeholder="New Password"
                                required [ngClass]="{'ng-invalid ng-dirty': (submitted && newPassword.invalid)}" />
                            <p *ngIf="submitted && newPassword.hasError('required')"class="ng-dirty ng-invalid text-red-500 text-sm">New Password is required</p> 
                            <p *ngIf="newPassword.hasError('pattern')" class="ng-dirty ng-invalid text-red-500 text-sm">At least 1 uppercase letter (A–Z),At least 1 lowercase letter (a–z),At least 1 number (0–9),At least 1 symbol from: !&#64;#$%^&*_=+- ,Minimum 8 characters, maximum 12 characters</p> 
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="field col">
                            <label for="title" class="font-medium text-900">Confirm New Password</label>
                            <input type="text" pInputText id="confirmNewPassword" formControlName="confirmNewPassword" placeholder="Confirm New Password"
                                required [ngClass]="{'ng-invalid ng-dirty': (submitted && confirmNewPassword.invalid)}" />
                            <div class="flex flex-column">
                            <span *ngIf="submitted && confirmNewPassword.hasError('required')"class="ng-dirty ng-invalid text-red-500 ">Confirm New Password is required</span>                      
                            <span *ngIf="confirmNewPassword.hasError('passwordMismatch')"class="ng-dirty ng-invalid text-red-500 text-sm">password Mismatch</span> 
                            <span *ngIf="confirmNewPassword.hasError('pattern')" class="ng-dirty ng-invalid text-red-500 text-sm">At least 1 uppercase letter (A–Z),At least 1 lowercase letter (a–z),At least 1 number (0–9),At least 1 symbol from: !&#64;#$%^&*_=+- ,Minimum 8 characters, maximum 12 characters</span> 
                            </div>
                        </div>
                    </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="cancelDialog()"></button>
        <button pButton pRipple label="Update" icon="pi pi-check" class="p-button-text"
            (click)="EditPassword()">
        </button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="userProfileDialog" [style]="{ width: '80%', height: '70%' }" header="User Profile" [modal]="true" (onHide)="cancelUserProfileDialog()"
    class="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="UpdateUserProfileObj">
                <div class="align-items-center grid formgrid p-fluid">
                    <div class="col-6">
                        <div class="field col">
                            <label for="title" class="font-medium text-900">First Name</label>
                            <input type="text" pInputText id="FirstName" formControlName="FirstName" placeholder="First Name"
                                required [ngClass]="{'ng-invalid ng-dirty': (submitted && FirstName.invalid)}" />
                                <div class="flex flex-column">
                                <span *ngIf="submitted && FirstName.hasError('required')"class="ng-dirty ng-invalid text-red-500">First Name is required</span> 
                                <span *ngIf="FirstName.hasError('pattern')"class="ng-dirty ng-invalid text-red-500">First Name must contain only English letters and numbers</span> 
                                </div>
                        </div>
                        <div class="field col">
                            <label for="title" class="font-medium text-900">Last Name</label>
                            <input type="text" pInputText id="LastName" formControlName="LastName" placeholder="Last Name"
                                required [ngClass]="{'ng-invalid ng-dirty': (submitted && LastName.invalid)}" />
                                <div class="flex flex-column">
                                <span *ngIf="submitted && LastName.hasError('required')"class="ng-dirty ng-invalid text-red-500 text-sm">Last Name is required</span> 
                                <span *ngIf="LastName.hasError('pattern')"class="ng-dirty ng-invalid text-red-500">Last Name must contain only English letters and numbers</span> 
                                </div>
                        </div>
                        <div class="field col">
                            <label for="title" class="font-medium text-900">User Name</label>
                            <input type="text" pInputText id="UserName" formControlName="UserName" placeholder="User Name"
                                required [ngClass]="{'ng-invalid ng-dirty': (submitted && UserName.invalid)}" />
                                <div class="flex flex-column">
                                 <span *ngIf="submitted && UserName.hasError('required')"class="ng-dirty ng-invalid text-red-500 ">User Name is required</span> 
                                 <span *ngIf="UserName.hasError('pattern')"class="ng-dirty ng-invalid text-red-500">Name must start with a letter and only contain English letters, numbers, or the symbols &#64; _ . -.</span>            
                                </div>          
                        </div>
                        <div class="field col">
                            <label for="title" class="font-medium text-900">Email</label>
                            <input type="text" pInputText id="Email" formControlName="Email" placeholder="Email"
                                required [ngClass]="{'ng-invalid ng-dirty': (submitted && Email.invalid)}" />
                                <div class="flex flex-column">
                                    <small *ngIf="submitted && Email.hasError('required')"class="ng-dirty ng-invalid text-red-500 ">Email is required</small> 
                                    <span *ngIf="Email.hasError('pattern')"class="ng-dirty ng-invalid text-red-500">Invalid Email</span> 
                                </div>                     
                        </div>
                        <div class="field col">
                            <label for="title" class="font-medium text-900">Phone Number</label>
                            <input type="text" pInputText id="PhoneNumber" formControlName="PhoneNumber" placeholder="Phone Number" />
                            <span *ngIf="PhoneNumber.hasError('pattern')"class="ng-dirty ng-invalid text-red-500">Only numbers are allowed. No letters, spaces, or symbols.</span> 
                        </div>
                      
                    </div>
                    <div class="col-6">
                            <p-panel header="User Image" class="mb-3">
                                <div class="flex flex-column align-items-center justify-content-center">
                                    <div class="image-upload-container"  (click)="triggerImageUpload()">
                                        <img [src]="imageUrl ?? '/assets/demo/images/avatar/UnknownUser.jpg'" alt="Author Image" class="avatar"
                                            style="width: 300px; height: 225px; max-width: 300px; border-radius: 50%; object-fit: fill; border: 1px solid #ccc; cursor: pointer;" />
                                        <div class="text-center upload-hover-text">Upload Image</div>
                                    </div>
                                    <small class="text-center block m-2">Recommended Dimensions:
                                        <strong>800px X 500px</strong></small>
                                </div>
                                <input type="file" id="userImage" style="display: none"
                                    (change)="handleImageSelection($event)" />
                            </p-panel>
                    </div>
                      
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="cancelUserProfileDialog()"></button>
        <button pButton pRipple label="Update" icon="pi pi-check" class="p-button-text"
            (click)="UpdateUserProfile()">
        </button>
    </ng-template>
</p-dialog>
<p-toast></p-toast>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

